doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        driver: 'pdo_pgsql'
        server_version: '15'
        charset: utf8

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
            MicroservicesSharedBundle:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/../shared-bundle/src/Entity'
                prefix: 'Microservices\SharedBundle\Entity'
                alias: MicroservicesSharedBundle

when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_SUFFIX)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    doctrine_migrations:
        storage:
            table_storage:
                table_name: 'doctrine_migration_versions'
                version_column_name: 'version'
                version_column_length: 1024
                executed_at_column_name: 'executed_at'
                execution_time_column_name: 'execution_time'

framework:
    cache:
        pools:
            doctrine.result_cache_pool:
                adapter: cache.app
            doctrine.system_cache_pool:
                adapter: cache.system

